:root {
  --main-font: Helvetica, Arial, sans-serif;
  --header-font: serif;

  font-size: calc(0.875em + 1vw);
  line-height: 1.2;
}

/* Fix issue with IE setting diplay inline to main tags */
main {
  display: block;
}

h1 {
  font-family: var(--header-font);
}

p {
  font-family: var(--main-font);
}

.scroll-top-btn {
  padding: 0;
  display: none;
  position: fixed;
  height: 3em;
  width: 3em;
  bottom: 1em;
  right: 1em;
  border: none;
  background-color: #808080;
  opacity: 0.8;
  border-radius: 0.5em;
}

.scroll-top-btn svg {
  height: 3em;
  width: 3em;
}

.scroll-top-btn.active {
  display: block;
}

.scroll-top-btn:hover {
  opacity: 1;
  cursor: pointer;
}

.article-progress {
  height: 0;
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  border: 0px;
  border-top: 4px solid burlywood;
}
